
.wrapper__five-section_size {
    width: 100%;
    height: 740px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wrapper-five-section-caption_position {
  width: 590px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.image__portrait_circle {
  border-style: solid;
  border-width: 2px;
  border-color: #c4c7c7;
  border-radius: 50%;
  background-color: #fff;
  width: 101px;
  height: 101px;
}
.wrapper__portrait-five-section_position {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.quotes-img {
    width: 50px;
    height: 45px;
    margin-right: 10px;
    margin-top: -15px;    
}
.quotes-and-slider-flex {
   display: flex;
   justify-content: center;
}
.wrapper-for-slaider {
    height: 190px;
    
    width: 940px;
}
.slider {
    background-color: #ddd;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.wrapper-for-slaider > input {
    display: none;
}
.slides {
    height: inherit;
    position: absolute;
    width: inherit;
}
.slides p {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb( 40, 37, 40 );
    line-height: 2;
    text-align: center;
    width: 936px;
    height: 127px;
}
.wrapper-for-slaider .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
}
.wrapper-for-slaider label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.wrapper-for-slaider label:after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.wrapper-for-slaider label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}
.wrapper-for-slaider label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background: #1ab798;
}
.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}